header {
    height: 180px;
    width: 100%;
}

img {
    height: 100%;
    top: 0px;
    left: 100px;
}

.signin {
    position: absolute;
    text-decoration: none;
    color: black;
    right: 40px;
    top: 85px;
}



